#container {
    /* border: 5px solid goldenrod; */
    margin: 5px;
  }
  
  #h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    text-align: center;
    text-decoration-line: overline underline;
  }
  #body {
    font-size: 14px;
    background-color: palegoldenrod;
  }